#root {
  font-family: "Inter", sans-serif;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  width: 0;
  height: 0;
  margin: 0;
}

input[type="radio"]:checked + .choices {
  background-color: #d6dbf5;
}

.question {
  font-size: 1rem;
  font-weight: bold;
}

.choices {
  display: inline;
  margin: 1.2em 1.4em;
  padding: 0.5em 1.3em;
  background-color: #fff;
  border: 2px solid #4d5b9e;
  border-radius: 1.2em;
  cursor: pointer;
  font-weight: normal;
  box-sizing: border-box;
  font-size: 0.8rem;
}

.option-container {
  width: 100vw;
  display: inline;
  margin: 1em 0;
}

hr {
  margin: 1.5em 0;
}
